#subir__arriba{
    width: 100px;
    height: 100px;
    color-image: linear-gradient(#e2b57e #b79368 #937755);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    display: none;
}
html{
scroll-behavior: smooth;
}
