#subir__arriba{
    width: 100px;
    height: 100px;
    color-image: linear-gradient(#C19A6B ,rgba(7, 34, 60, 0.819));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    display: none;
}
html{
scroll-behavior: smooth;
}
